* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.booking {
     width: 370px;
     height: 500px;
     background-color: #242424;
     display: none;
     opacity: 0;
     transition: all .3s ease;
     position: relative;
     flex-direction: column;
     overflow: hidden;
     position: fixed;
     z-index: 2;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 8px;
}

.booking.active {
     opacity: 1;
}

.booking_blur_curtain {
     position: fixed;
     z-index: 1;
     width: 100%;
     height: 100vh;
     background-color: black;
     filter: opacity(0);
     display: none;
     top: 0;
     left: 0;
}

.booking_blur_curtain.active {
     display: block;
     filter: opacity(.75);
}


#firebaseui-auth-container {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     position: absolute;
     top: 0;
     left: 0;
     background-color: #242424e5;
     z-index: 2;
}

.firebaseui-container {
     max-width: 100%;
     margin: 0;
}

.mdl-card {
     margin: 0;
}

.booking header {
     width: 100%;
     height: 20%;
     box-shadow: 0px 5px 5px 0px rgba(170, 25, 25, 0.3);
     position: relative;
}

.booking header i {
     position: absolute;
     right: 10px;
     top: 10px;
     color: #AA1919;
     font-size: 28px;
     width: 30px;
     height: 30px;
     text-align: center;
     line-height: 30px;
     transition: all .3s ease;
}

.booking header i:hover {
     cursor: pointer;
     color: white;
}

.booking header h2 {
     font-family: 'Poppins',
          sans-serif;
     text-align: center;
     color: #f2f3f4;
     font-size: 24px;
     margin-top: 30px;
     font-weight: 700;
}

.booking>div {
     width: 100%;
     height: calc(15% - 5px);
     transition: all .5s ease-in-out;
     box-shadow: 0px 5px 5px 0px rgba(170, 25, 25, 0.3);
     font-family: 'Poppins', sans-serif;
     margin-top: 5px;
     background-color: #242424;
     overflow: hidden;
     position: relative;
}

.booking div.active {
     height: 75%;
}

.booking>div h3 {
     color: #f2f3f4;
     font-size: 18px;
     padding-left: 10px;
     padding-top: 10px;
     font-weight: 600;
}

.booking>div .content {
     width: 100%;
     height: 250px;
     display: flex;
     flex-wrap: wrap;
}

.booking>div:nth-of-type(2) button,
.booking>div:nth-of-type(3) button {
     width: 160px;
     height: 40px;
     background-color: #aa1919;
     color: #f2f3f4;
     font-size: 18px;
     transition: all .3s ease;
     outline: none;
     font-weight: 600;
     border: none;
     border-radius: 8px;
}

.booking>div a {
     color: #F7A202;
     font-size: .9em;
     width: 50px;
     margin-right: 100px;
     transition: all .3s ease;
}

.booking>div a:hover {
     color: #AA1919;
}

.booking>div span {
     display: inline-flex;
     align-items: center;
     margin-left: 50%;
     transform: translateX(-50%);
}

.booking>div button:hover {
     background-color: #333333;
     cursor: pointer;
     color: #f2f3f4;
}


.booking>div:nth-of-type(2) button {
     margin-left: 50%;
     transform: translateX(-50%);
}

.booking>div .content div {
     width: calc(50% - 20px);
     height: calc(40% - 20px);
     margin: 0 10px;
     color: #F7A202;
}

.booking>div .content div label {
     font-size: 14px;
     color: #f2f3f4;
}

.booking>div .content div:nth-of-type(5) {
     width: auto;
     height: auto;
     background-color: transparent;
     margin: 0;
     margin-left: 10px;
}

.booking>div .content div select {
     width: 160px;
     height: 40px;
     background-color: #333333;
     outline: none;
     border-radius: 8px;
     color: #f2f3f4;
     padding-left: 10px;
     border: none;
}

.booking>div .content div select:hover {
     cursor: pointer;
}

.booking>div .content div input#dates {
     width: 160px;
     height: 40px;
     background-color: #333333;
     outline: none;
     border-radius: 8px;
     color: #f2f3f4;
     padding-left: 10px;
     border-width: 1px;
     border: none;
}

.booking>div .content div input#dates[type="date"i] {
     color: #f2f2f2;
}

.booking>div .content div input#dates:hover {
     cursor: pointer;
}

.booking>div .content div select option {
     background-color: #242424;
}

.booking>div .content div select:active,
.booking>div .content div select:focus {
     background-color: #AA1919;
     border-color: #AA1919;
}

.booking>div .content div select option:hover {
     background-color: #AA1919;
     cursor: pointer;
}

.booking>div .content .searchbar-box {
     width: fit-content;
     position: relative;
     margin: 0;
     height: fit-content;
     width: 320px;
     margin: 0 auto;
     margin-top: 30px;
}

.searchbar-box i {
     position: absolute;
     right: 5%;
     top: 20px;
     transform: translateY(-50%);
     color: white;
     transition: all .3s ease;
}

.booking>div .content .searchbar-box input {
     height: 40px;
     width: 100%;
     outline: none;
     background-color: transparent;
     border: 1px solid white;
     border-radius: 10px;
     padding-left: 10px;
     color: white;
}

.booking>div .content .searchbar-box .search-results {
     position: absolute;
     width: calc(100% - 20px);
     height: 0;
     background-color: rgba(255, 255, 255, 0.2);
     margin: 0;
     left: 10px;
     overflow: hidden;

}

.booking>div .content .searchbar-box .search-results .result {
     width: 100%;
     margin: 0;
     border-bottom: 1px solid#F7A202;
     height: fit-content;
}

.booking>div .content .searchbar-box .search-results .result:hover {
     cursor: pointer;
}

.booking>div .content .searchbar-box .search-results .result p {
     width: 100%;
     color: white;
     font-size: 14px;
     padding: 5px;
}

.booking>div .content .searchbar-box input:focus~.search-results {
     height: fit-content;
}

.booking>div .content .searchbar-box .search-results .result p {
     width: 100%;
}

.booking>div:nth-of-type(3) .content {
     display: flex;
     flex-direction: column;
}

.booking>div .content .gameresult-box {
     width: fit-content;
     height: fit-content;
     margin: 0;
     width: 30%;
     margin: 0 auto;
     margin-top: 30px;
}

.booking>div .content .gameresult-box h4 {
     text-align: center;
}

.booking>div .content .gameresult-box img {
     width: 100%;
     object-fit: cover;
     object-position: center;
     height: 80px;
}

#dice_booking {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 50%;
     left: 0;
     transform: translateY(-50%);
     display: none;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

#dice_booking.visible {
     display: flex;
}

#dice_booking h2 {
     margin-bottom: 50px;
     color: #f2f3f4;
     text-align: center;
     font-size: 24px;
     font-weight: 700;
}

#dice_booking div {
     width: 100%;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
}

#dice_booking img {
     height: 100%;
     object-fit: contain;
}

nav {
     width: 100%;
     height: 3vh;
     background-color: #242424;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     font-family: 'Poppins', sans-serif;
}

nav .account-details {
     display: flex;
     margin-right: 25px;
     margin-left: 10px;
}

.account-details p {
     color: #f2f3f4;
     margin-right: 10px;
     line-height: 3vh;
     font-size: 14px;
}

.account-details p:hover {
     cursor: default;
}

.account-details button {
     background-color: transparent;
     outline: none;
     border: none;
     color: #F7A202;
     margin-left: 5px;
     line-height: 3vh;
     transition: all .2s ease;
}

.account-details button:hover {
     color: #AA1919;
     cursor: pointer;
}

.account-details button:hover i {
     color: #AA1919;
     cursor: pointer;
}

.account-details i {
     color: #F7A202;
     line-height: 3vh;
     padding-right: 5px;
     transition: all .2s ease;
}

.bgi-booking {
     width: 100%;
     height: 97vh;
     position: relative;
}

.bgi-booking img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
}

.bgi-booking .gradient {
     width: 100%;
     height: 5vh;
     background: linear-gradient(180deg, #00000000 0%, #00000000 30%, #242424 100%);
     position: absolute;
     bottom: 0;
     left: 0;

}

.booking-table-box {
     position: absolute;
     top: 30%;
     left: 5%;
     font-family: 'Poppins', sans-serif;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;
}

.booking-table-box h2 {
     width: 40%;
     font-size: 32px;
     font-weight: 700;
     color: white;
     padding-top: 60px;
}

.booking-table-box p {
     width: 30%;
     font-size: 18px;
     font-weight: 400;
     color: #f2f3f4;
     padding-top: 20px;
     padding-bottom: 20px;
}

.booking-table-box button {
     width: 240px;
     height: 44px;
     outline: none;
     border: none;
     font-size: 20px;
     font-weight: 600;
     transition: all .3s ease;
     background-color: #fff;
}

.booking-table-box button:hover {
     cursor: pointer;
     background-color: #242424;
     color: #f2f3f4;
}


.booking>div a.back_arrow_booking {
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     margin: 0;
     width: fit-content;
     color: #f2f3f4;

}

.booking>div a.back_arrow_booking:hover {
     cursor: default;
}

.booking>div a.back_arrow_booking i {
     transform: scaleY(.4) scaleX(1.2);
     font-size: 40px;
     transition: all .3s ease;
}

.booking>div a.back_arrow_booking i:hover {
     cursor: pointer;
     color: #aa1919;
}

.open-table {
     padding-left: 10px;
}

.open-table input {
     background-color: transparent;
}

.open-table label {
     padding-left: 5px;
}

#open_tables {
     width: 100%;
     background-color: #242424;
     font-family: 'Poppins', sans-serif;
}

#open_tables>h3 {
     color: #f2f3f4;
     padding-top: 100px;
     padding-left: 60px;
     font-size: 24px;
}

.open_tables_container {
     width: 100%;
     display: flex;
     flex-wrap: wrap;

}

.open-table-box {
     width: 820px;
     height: 420px;
     background-color: #333333;
     margin: 0 60px;
     margin-top: 60px;
     display: flex;
}

.open-table-box img {
     width: 385px;
     height: 100%;
     object-fit: cover;
}

.open-table-box .info-box {
     width: 367px;
     margin: 0 auto;
     height: 100%;
     color: #f2f3f4;
}

.info-box span {
     font-size: 14px;
     background-color: #aa1919;
     padding: 2px 14px;
     border-radius: 8px;
     margin-left: 5px;
}

.info-box span:nth-of-type(1) {
     margin-left: 0;
}

.info-box h3 {
     color: #f2f3f4;
     font-size: 24px;
     padding: 18px 0;
     font-weight: 700;
}

.info-box h4 {
     color: #f2f3f4;
     font-size: 24px;
     padding-top: 10px;
     font-weight: 600;
}

.info-box p {
     color: #f2f3f4;
     font-size: 18px;
     font-weight: 400;
     max-height: 132px;
     height: 132px;
     overflow: hidden;
}

.info-box button {
     width: 160px;
     height: 40px;
     background-color: #aa1919;
     color: #f2f3f4;
     font-size: 18px;
     transition: all .3s ease;
     outline: none;
     font-weight: 600;
     border: none;
     border-radius: 8px;
     margin-top: 20px;
}

.info-box button:hover {
     cursor: pointer;
     background-color: #242424;
}