* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #242424;
  height: 400vh;
    font-family: 'Poppins', sans-serif;

 }
h2 {color: white;}

.dropdownbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    width: 100vw;
    height: 100px;
    background-color: #2D2D2D;
}

.barsplit {
    margin: 0 3vw;
   
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dropbtn {
  background-color:#242424;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 140px;
  
  padding: 16px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.dropbtn:focus {outline:0;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #242424;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
   padding: 12px 16px 0 16px;
}

.dropdown-content a {
    background-color: #2D2D2D;
  color: white;
  padding: 12px 16px;
  margin-bottom: 12px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  font-size: 12px;
}

.dropdown-content a:hover {background-color: #C1353B;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    background-color: #C1353B;
    border-radius: 5px 5px 0 0;
}


input {
    width: 240px;
    height: 40px;
    padding: 16px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
}
input:focus {outline:0;}

 a {
     text-decoration: none;
     color: #E4E4E4;
 }

 section {
     margin-left: 3vw;
 }
.grid-container {
    height: 20vw;
    align-items: center;
    display: flex;
  width: 300vw;
  
  }

  #boardGame-popular {
      transition: 0.8s ease-in-out;
  }

   #boardGame-players {
      transition: 0.8s ease-in-out;
  }
.popular {
    margin-top: 60px;
      margin-bottom: 60px;
  }
 
.grid-container>a>article {
font-size: 12px;
border-radius: 10px;
  border: 0px solid;
width: 17vw;
height: 17vw;
margin-right: 1.5vw;
background-color: #2D2D2D;
overflow: hidden;

}

.grid-container>a>article:hover {

height: 29vw;
transition: 0.4s ease-in-out;
}



.grid-container>a>article>img {
width: 17vw;
height: 17vw;
}

.details{
visibility: hidden;
margin: 16px;
display: flex;
justify-content: space-between;

}
.h2 {
    font-weight: bold;
    
}

.genre{
display: flex;
flex-direction: column;
justify-content: center;
    border-radius: 5px;
    width: 5vw;
    height: 2vw;
    text-align: center;
    background-color: #C1353B;
}


.rating {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    text-align: center;
flex-direction: column;
justify-content: center;
    border-radius: 5px;
    width: 5vw;
    height: 5vw;
    background-color: #C1353B;
}

.icons {
    width: 1.5vw;
    height: 1.5vw;
    color: white;
    margin-right: 10px;
    
}

.icontext {
    display: flex;
margin-top: 10px;
    height: 1.5vw;
    
}

.grid-container>a>article:hover .details{
visibility: visible;
transition: 0.4s ease-in-out;
}

.arrowright {
    cursor: pointer;
position: absolute;
right: 0;
background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 0, 1));
width: 4vw;
height: 17vw;
margin-top: 1.5vw;
text-align: center;



}

.arrowleft {
    cursor: pointer;
position: absolute;
left: 0;
background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(0, 0, 0, 1));
width: 4vw;
height: 17vw;
margin-top: 1.5vw;
text-align: center;

}

#iii {
    color: white;
   font-size: 2vw;
     top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.closebutton {
   position: absolute;
   right: 0;
    z-index: 20;
    width: 20px;
    height: 20px;
    background-color: darkslateblue;
}

.opacitycover {
    position: fixed;
    z-index: 10;
    background-color: black;
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
}

.specificBoardGame {
    z-index: -10;
     width: 0px;
    height: 0px;
    opacity: 0;
 position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
   transition: 0.3s ease-in-out;
}

.opendetails {
       width: 80vw;
    height: 40vw;
    z-index: 10;
   
    opacity: 1;
   background-color: #2D2D2D;
}

.specificimage>img {
    width: 40vw;
    height: 40vw;
   
}