/* SMALL RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    overflow: hidden;
} */

#bigWrapper {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    position: relative;
}

#blackbox {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background-color: #000;
}

#anchor {
    position: fixed;
    top: 1150px;
}

#anchor2 {
    position: fixed;
    top: 1050px;
}

/* VIDEO GAMES FROM FIREBASE GO HERE */

#actionSolo-container,
#actionTeam-container,
#strategySolo-container,
#strategyTeam-container,
#roleplayingSolo-container,
#roleplayingTeam-container {
    width: 100vw;
    display: none;
    justify-content: space-around;
    margin-top: 64px;
}

#actionSolo-container img,
#actionTeam-container img,
#strategySolo-container img,
#strategyTeam-container img,
#roleplayingSolo-container img,
#roleplayingTeam-container img {
    max-width: 220px;
    max-height: 256px;
}

#actionSolo-container button,
#actionTeam-container button,
#strategySolo-container button,
#strategyTeam-container button,
#roleplayingSolo-container button,
#roleplayingTeam-container button {
    display: flex;
    justify-content: space-around;
}

#lol-container {
    width: 100vw;
    display: none;
    justify-content: space-around;
    margin-top: 64px;

}

#lol-container img {
    max-width: 220px;
    max-height: 256px;
}

main {
    width: 100vw;
    height: 400vh;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 90%, rgb(0, 0, 0) 100%), url(../images/quiz-bgi-upscaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#sec0 {
    width: 100vw;
    height: 35vh;
}

#sec1 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#sec2 {
    width: 100vw;
}

#sec3 {
    width: 100vw;
    display: inline-block;
    text-align: center;
}

#sec4 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #000;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#loader {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: -2;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    text-align: center;
    color: white;
}

#dice {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    margin-top: 200px;
    max-width: 200px;
}

a {
    text-decoration: none;
}

/* BUTTONS FADE IN ANIMATION */

.appearing {
    animation: hello2 750ms forwards;

}

@keyframes hello2 {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0.9;
    }


    100% {
        display: block;

    }
}

/* BUTTONS FADE OUT ANIMATION */

.disappearing {
    animation: hello 750ms forwards;


}

@keyframes hello {
    0% {
        opacity: 1;
    }


    100% {
        opacity: 0;

    }
}

/* LINE STYLING */

.line {
    width: 100%;
    max-width: 6px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    display: block;
    background-color: #ffb000;
}

/* QUESTION BOX STYLING */

.circle {
    width: 100%;
    max-width: 600px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    display: block;
    border-radius: 8px;
    border: 6px solid #ffb000;
    background-color: rgba(0, 0, 0, 0.3);
}

.circle p {
    text-align: center;
    position: absolute;
    margin: 0;
    color: #ffb000;
    font-family: 'arial', serif;
    font-size: 18px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* BUTTON CONTAINERS */

#aBtns,
#sBtns,
#rBtns {
    display: flex;
    justify-content: space-around;
}

/* BUTTON STYLING */

main button {
    margin-top: 64px;
    transition: all 3s;
    width: 250px;
    letter-spacing: 2px;
    border-radius: 8px;
    font-family: 'Texturina', serif;
    color: #ffb000;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0 1px 3px #000;
    text-align: center;
    padding: 10px 0;
    background: radial-gradient(circle, #aa1919, #aa1919);
    border: 3px solid #ffb000;
    box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
    position: relative;
}

main button:hover {
    background: radial-gradient(circle, #e52b2b, #aa1919);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2)
}

main button:active {
    background: radial-gradient(circle, #ec6a6a, #e52b2b);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2)
}


nav {
    width: 100%;
    height: 7vh;
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    z-index: 100;
}

nav a:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 3%;
    margin-left: 25px;
    height: 100%;
}

nav img {
    height: 100%;
    object-fit: contain;
}

nav .account-details {
    display: flex;
    margin-right: 25px;
    margin-left: 10px;
}

nav .account-details a {
    width: fit-content;
    margin: 0;
    margin: 0 10px;
    transition: all .3s ease;
}

nav .account-details a:hover {
    color: #AA1919;
}

.account-details p {
    color: #f2f3f4;
    margin-right: 10px;
    line-height: 3vh;
    font-size: 14px;
}

.account-details p:hover {
    cursor: default;
}

.account-details button {
    background-color: transparent;
    outline: none;
    border: none;
    color: #F7A202;
    margin-left: 5px;
    line-height: 3vh;
    transition: all .2s ease;
    font-size: 18px !;
}

.account-details button:hover {
    color: #AA1919;
    cursor: pointer;
}

.account-details button:hover i {
    color: #AA1919;
    cursor: pointer;
}

.account-details i {
    color: #F7A202;
    line-height: 3vh;
    padding-right: 5px;
    transition: all .2s ease;
}

nav .account-details a {
    width: fit-content;
    margin: 0;
    margin: 0 10px;
    transition: all .3s ease;
    color: #f2f3f4;
    text-decoration: none;
}

nav .account-details a:hover {
    color: #AA1919;
}


#lol-container>a>article {
    font-size: 12px;
    border-radius: 10px;
    border: 0px solid;
    width: 17vw;
    height: 17vw;
    margin-right: 1.5vw;
    background-color: #2D2D2D;
    overflow: hidden;

}


#lol-container>a>article:hover {
    transform: scale(1.05);
    height: 29vw;
    transition: 0.4s ease-in-out;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}



#lol-container>a>article>img {
    width: 17vw;
    height: 17vw;
}

.imgwrappy {
    object-fit: cover;
    width: 17vw;
    height: 17vw;
    overflow: hidden;
}


.details2 {

    padding: 16px;
    display: flex;
    justify-content: space-between;

}

.details {


    padding: 16px;
    display: flex;
    justify-content: space-between;


}

.lefty {

    width: 60%;
    height: 8.5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



.genre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    width: 5.2vw;
    height: 2.1vw;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background-color: #AA1919;
}


.rating {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    width: 5.2vw;
    height: 5.2vw;
    background-color: #AA1919;
}

.icons {
    width: 1.5vw;
    height: 1.5vw;
    color: white;
    margin-right: 10px;

}

.icontext {

    display: flex;
    margin-top: 10px;
    height: 1.5vw;

}

.boook-table-quest {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    margin-top: 64px;
    transition: all 3s;
    width: 250px;
    letter-spacing: 2px;
    border-radius: 8px;
    font-family: 'Texturina', serif;
    color: #ffb000;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0 1px 3px #000;
    text-align: center;
    padding: 10px 0;
    background: radial-gradient(circle, #aa1919, #aa1919);
    border: 3px solid #ffb000;
    box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
    position: relative;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.boook-table-quest:hover {
    background: radial-gradient(circle, #e52b2b, #aa1919);
    box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2)
}

.quest-header {
    margin-top: 15vh;
    text-align: center;
    color: #f2f3f4;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.img-container-quest {
    width: 400px;
    height: 400px;
    object-fit: cover;
}